
h1 {
    padding-left: 40px;
    margin-bottom: -10px;
}

h3 {
    padding-left: 40px;
    margin-bottom: -10px;
    margin-block-end: 0em;
    margin-block-start: 0em;
}
html,body{
    height:100%;
    width:100%
}
.counties {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
}
.map-container{
    position: relative;
    top: auto;
    left: 0;
    right: 0;
    display: inline-block;
    height: 80%;
    width: 100%;
}
.map-body{
    width: 100%;
    height: 100%;
}
.counties{
    cursor: pointer;
}
/*new*/
.states_borders{
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
}
#states .active {
    display:none;
}
#county-borders {
    fill: none;
    stroke: #e3e3e3;
    stroke-width: 1.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}

.county-boundary {
    fill: #aaa;
    stroke: #fff;
    stroke-width: .5px;
}
.county-boundary:hover, .state:hover {
    fill: orange;
}
#states {
    fill: #aaa;
}

.axis path{
    fill:none;
    stroke : rgb(153,153,255);
    shape-rendering:crispEdges;
}
.axis line{
    fill:rgb(153,153,255);
    shape-rendering:crispEdges;
}
.axis text{
    font-family: sans-serif;
    font-size: 11px;
}
.nav-right{
    background-image: url("data:image/svg+xml, <svg class='bi bi-clipboard-data' width='1em' height='1em' viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'>\
    <path fill-rule='evenodd' d='M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z' clip-rule='evenodd'/>\
    <path fill-rule='evenodd' d='M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z'\
     clip-rule='evenodd'/>\
    <path d='M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z'/>\
    </svg>");
    background-repeat: no-repeat;
    background-size: 1.5rem 1.5rem;
    display: inline-block;
    content: "";
    height: 1.5em;
    background-position: center;
}
.chart-button-box-container{
    margin-right: 10px;
    margin-left: auto;
    cursor: pointer;
    height: 2em;
    padding: 0;
}
.nav-link {
    position: relative;
    padding: 0 14px;
    line-height: 34px;
    font-size: 10px;
    font-weight: bold;
    color: #555;
    text-decoration: none;
}
.nav-link:hover {
    color: #333;
    text-decoration: underline;
}

.nav-counter {
    position: absolute;
    top: 16px;
    right: 10px;
    min-width: 8px;
    height: 20px;
    line-height: 20px;
    margin-top: -11px;
    padding: 0 6px;
    font-weight: normal;
    color: white;
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    background: #e23442;
    border: 1px solid #911f28;
    border-radius: 11px;
    background-image: -webkit-linear-gradient(top, #e8616c, #dd202f);
    background-image: -moz-linear-gradient(top, #e8616c, #dd202f);
    background-image: -o-linear-gradient(top, #e8616c, #dd202f);
    background-image: linear-gradient(to bottom, #e8616c, #dd202f);
    -webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 1px rgba(0, 0, 0, 0.12);
    box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 1px rgba(0, 0, 0, 0.12);
}


.tooltip {
     position: absolute;
     text-align: center;
     width: 100px;
     height: 80px;
     padding: 2px;
     font: 12px sans-serif;
     color: white;
     background: #742a2a;
     border: 0px;
     border-radius: 8px;
     pointer-events: none;
}


.chart-container{
    overflow-y: scroll;
    height: 100%;
    width: 99%;
}
.page-container{
    margin: 0;
    height: 100%;
    width: 100%;
}
.left-page{
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 35%;
    padding-top: 56px;
    min-width: 500px;
}
.right-page{
    position: fixed;
    display: inline-block;
    margin-left: 1px;
    left: 65%;
    top: 0;
    bottom: 0;
    right: 0;
    padding-top: 56px;
    min-width: 268px;
 }
header{
    position: fixed;
    width: 100%;
    z-index: 100;
}

/*.slider-container{*/
/*    display:inline-block;*/
/*}*/

.slider_step{
    float: left;
}

.slider-button {
    float: left;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-top:25px;
    /*margin-left:50px;*/
    border: none;
}

.slider-button-unpressed {
    background: url(../img/icons/play-button-unpressed.png) no-repeat;
    background-size: 30px 30px;
}

.slider-button-pressed {
    background: url(../img/icons/play-button-pressed.png);
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

.chart_title{
    font-size: 20px;
    font-weight:bold;
}
.chart-dashboard{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 71%;
    border-left: 1px solid black;
    /*height: 50px;*/
    /*width: 50px;*/
    /*background: #0c5460;*/
}
.chart-text{

}
.modal-body{
    max-height: 600px;
}
.legend-rect{
    cursor: pointer;
}
.legend-cross{
    cursor: pointer
}

.legend-trash{
    background-image: url("data:image/svg+xml, <svg class='bi bi-trash' width='1em' height='1em' viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'>\
    <path d='M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z'/>\
    <path fill-rule='evenodd' d='M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z' clip-rule='evenodd'/>\
    </svg>");
    background-repeat: no-repeat;
    background-size: 1.5rem 1.5rem;
    display: inline-block;
    content: "";
    height: 1.5em;
    background-position: center;
    position: absolute;
    bottom: 20px;
    right: 20px;
}